@media only screen and (max-width: 739px) {
    .s-col-full{
        width: 100%;
    }
    #header{
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color:#333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 13px 40px;

    }
    #header .menu-btn {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #header .search-btn {
        display: none;
    }
    #content .member-img{
        width: 60%;
    }
  }
  