@media only screen and (max-width: 1023px){
    #footer .social-list a{
        font-size: 40px;
        margin: 0px 12px;
    }
    #footer .copyright a{
        padding: 18px 7px;
    display: inline-block;
    }
}

@media only screen and (max-width: 739px) {
    .s-col-full,
    .s-full-width{
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    #header{
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color:#333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 13px 40px;

    }
    #header .menu-btn {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #header .search-btn {
        display: none;
    }
    #content .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 16px;
    }
  }
  